<head>
   <link rel="stylesheet" href="/static/css/styles.css">
</head>

<table><tr></tr></table>

<div class="outer">
   <h2>Login:</h2>
   <form method="post">
      <input type="text" name="username" id="username" placeholder="Username" required><br>
      <input type="password" name="password" id="password" placeholder="Password" required><br>
      <input type="submit">
   </form>
   <p>{{verify}}</p>
</div>

<script type="text/javascript" src="/static/js/scripts.js">//loads the functions from scripts.js</script>
<script>
	getTabs('{{name|tojson}}', "n", "Login")
</script>