<head>
   <link rel="stylesheet" href="/static/css/styles.css">
</head>

<table>
   <tr>
      <td><a class="header" href='../'>Home</a></td>
   </tr>
</table>

<div class="outer">
   <h2>Reset Password:</h2>
   <form method="post">
      <input type="text" name="username" id="username" placeholder="Username" required><br>
      <input type="password" name="pwNew"  id="pwNew"  placeholder="New Password" required><br>
      <input type="submit">
   </form>
   <p>{{verify}}</p>
</div>

<script>
   if('{{name|tojson}}' == "\"Logged Out\"") //if logged out, then render related links
   {
      document.querySelector("tr").innerHTML += "<td            ><a class=\"header\"   href='../register'>Register</a></td>";
      document.querySelector("tr").innerHTML += "<td            ><a class=\"header\"   href='../login'   >Login</a></td>";
      document.querySelector("tr").innerHTML += "<td class=\"s\"><a class=\"header-s\" href='../pwreset' >Password Reset</a></td>";
   }
   else
   {
      location.replace("/"); //if logged in, redirect to Home page
   }
   document.querySelector("tr").innerHTML += "<td class=\"l\">{{name}}</td>";
</script>