<head>
   <link rel="stylesheet" href="/static/css/styles.css">
</head>

<table>
   <tr>
      <td          ><a class="header"   href='../'           >Home</a></td>
      <td class="s"><a class="header-s" href='../showAndTell'>Show & Tell</a></td>
   </tr>
</table>

<div class="outer" id="blog">
   <h1>Show & Tell</h1>
   <p>S&T page for umwap.</p>
</div>

<script>
   if('{{name|tojson}}' == "\"Logged Out\"") //if logged out, then render related links
   {
      document.querySelector("tr").innerHTML += "<td><a class=\"header\" href='../register'>Register</a></td>";
      document.querySelector("tr").innerHTML += "<td><a class=\"header\" href='../login'   >Login</a></td>";
      location.replace("/"); //if logged out, redirect to Home page
   }
   else
   {
      document.querySelector("tr").innerHTML += "<td><a class=\"header\" href='../logout'  >Logout</a></td>";
      document.querySelector("tr").innerHTML += "<td><a class=\"header\" href='../pwchange'>Password Change</a></td>";
   }
   document.querySelector("tr").innerHTML += "<td class=\"e\"></td><td class=\"l\">{{name}}</td>";
</script>